@import url('https://fonts.googleapis.com/css?family=Arimo');

//color variables
$red: #FC4349;
$grey: #2C3E50;
$skyBlue: #6DBCDB;
$lightGrey: #D7DADB;

//placeholders
%textAreas {
  box-sizing: border-box;
  overflow: auto;
  min-width: 44%;
  max-height: 80vh;
  margin: 5px 3% 0px 3%;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 10px;
  background-color: $lightGrey;
  border-radius: 10px;
}

%gradient {
  background: rgba(252,67,73,1);
  background: -moz-linear-gradient(top, rgba(252,67,73,1) 0%, rgba(109,188,219,1) 40%, rgba(109,188,219,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,67,73,1)), color-stop(40%, rgba(109,188,219,1)), color-stop(100%, rgba(109,188,219,1)));
  background: -webkit-linear-gradient(top, rgba(252,67,73,1) 0%, rgba(109,188,219,1) 40%, rgba(109,188,219,1) 100%);
  background: -o-linear-gradient(top, rgba(252,67,73,1) 0%, rgba(109,188,219,1) 40%, rgba(109,188,219,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,67,73,1) 0%, rgba(109,188,219,1) 40%, rgba(109,188,219,1) 100%);
  background: linear-gradient(to bottom, rgba(252,67,73,1) 0%, rgba(109,188,219,1) 40%, rgba(109,188,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4349', endColorstr='#6dbcdb', GradientType=0 );
}


* {
  outline: none;
}

body{
  @extend %gradient;
  margin: 0px;
  font-family: "Arimo", sans-serif;
  height: 100vh;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 18vh;
  h3 {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: $grey;
    margin-bottom: 5px;
  }
  img {
    width: 100px;
    height: 80px;
  }
}

.textBox {
  display: flex;
  justify-content: center;
}

.processedText {
    min-width: 44%;
    margin: 0px 3% 0px 3%;
}

textarea {
    @extend %textAreas;
    resize: none;
}

.markdown-body {
    @extend %textAreas;
    img {
      width: 100px;
    }
	}

::-webkit-scrollbar {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  width: 10px;
}
::-webkit-scrollbar-button {
  background: none;
  height: 2px;

}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-track-piece {
 background: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
